.cos {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
  gap: 10px;
}

.soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition-hover-focus-bgd-color);
}

.soc__icon {
  fill: var(--icon-soc-color);
  transition: var(--transition-hover-focus-fill);
}

.soc__link:hover,
.soc__link:focus {
  background-color: var(--color-accent);
}

.soc__link:hover .soc__icon,
.soc__link:focus .soc__icon {
  fill: var(--primary-background-color-main);
}
